body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

/* CONTENEDOR */
.container {
    display: flex;
    min-height: 100vh;
}

/* IZQUIERDA */
.left {
    width: 65%;
    background: #f2f2f2;
    padding: 40px;
}

.left h1 {
    margin: 0;
    font-size: 28px;
}

.left h3 {
    margin-top: 5px;
    color: #666;
}

.left h2 {
    margin-top: 30px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

.item {
    display: flex;
    margin-top: 15px;
}

.date {
    width: 130px;
    font-weight: bold;
    color: #666;
}

/* DERECHA */
.right {
    width: 35%;
    background: #0d2b2e;
    color: white;
    padding: 30px;
}

/* FOTO */
.photo {
    text-align: center;
    margin-bottom: 20px;
}

.photo img {
    width: 130px;
    border-radius: 10px;
}

/* TEXTO DERECHA */
.right h3 {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    padding-bottom: 5px;
    margin-top: 20px;
}

.right ul {
    list-style: none;
    padding: 0;
}

.right li {
    margin: 8px 0;
}